In [151]:
import pandas as pd
import numpy as np

In [152]:
fin1 = pd.read_csv("Finland1_raw.csv")
fin2 = pd.read_csv("Finland2_raw.csv")

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_9496\2175392655.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  fin1 = pd.read_csv("Finland1_raw.csv")
C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_9496\2175392655.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  fin2 = pd.read_csv("Finland2_raw.csv")

In [153]:
fin1.head()

,Information,"Underlying cause of death (ICD-10, 3-character level)",Age,Year,Gender,Deaths
0,Deaths,A00-Y89 Total,0,2008,Total,159
1,Deaths,A00-Y89 Total,0,2008,Males,94
2,Deaths,A00-Y89 Total,0,2008,Females,65
3,Deaths,A00-Y89 Total,0,2009,Total,160
4,Deaths,A00-Y89 Total,0,2009,Males,78

## Data cleaning

### 1. Adding fin1 and fin2 datasets together

In [154]:
fin = pd.concat([fin1, fin2])
fin.head()

,Information,"Underlying cause of death (ICD-10, 3-character level)",Age,Year,Gender,Deaths
0,Deaths,A00-Y89 Total,0,2008,Total,159
1,Deaths,A00-Y89 Total,0,2008,Males,94
2,Deaths,A00-Y89 Total,0,2008,Females,65
3,Deaths,A00-Y89 Total,0,2009,Total,160
4,Deaths,A00-Y89 Total,0,2009,Males,78

### 2. Clean fin dataset

In [155]:
# drop unnecessary data
fin = fin.drop("Information",axis=1)

# rename column name
fin["Country"] ="Finland"
fin.columns = ["Cause", "Age range", "Year", "Gender", "Deaths", "Country"]

In [156]:
fin = fin[["Country", "Year", "Gender", "Age range", "Cause", "Deaths"]]
fin.head()

   Country  Year   Gender Age range          Cause Deaths
0  Finland  2008    Total         0  A00-Y89 Total    159
1  Finland  2008    Males         0  A00-Y89 Total     94
2  Finland  2008  Females         0  A00-Y89 Total     65
3  Finland  2009    Total         0  A00-Y89 Total    160
4  Finland  2009    Males         0  A00-Y89 Total     78

In [157]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1415232 entries, 0 to 771497
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Country    1415232 non-null  object
 1   Year       1415232 non-null  int64
 2   Gender     1415232 non-null  object
 3   Age range  1415232 non-null  object
 4   Cause      1415232 non-null  object
 5   Deaths     1415232 non-null  object
dtypes: int64(1), object(5)
memory usage: 75.6+ MB

In [158]:
# change data type of "Deaths" variable
fin["Deaths"]=pd.to_numeric(fin.Deaths, errors='coerce').convert_dtypes() 
fin.head()

   Country  Year   Gender Age range          Cause  Deaths
0  Finland  2008    Total         0  A00-Y89 Total     159
1  Finland  2008    Males         0  A00-Y89 Total      94
2  Finland  2008  Females         0  A00-Y89 Total      65
3  Finland  2009    Total         0  A00-Y89 Total     160
4  Finland  2009    Males         0  A00-Y89 Total      78

In [159]:
fin.isnull().sum()

Country          0
Year             0
Gender           0
Age range        0
Cause            0
Deaths       70434
dtype: int64

In [160]:
kept_list =['A00-Y89 Total']
fin = fin[fin.Cause.isin(kept_list) == True]
fin.reset_index(inplace=True)

In [161]:
fin.Cause.unique()

array(['A00-Y89 Total'], dtype=object)

In [162]:
fin.isnull().sum()
print(f"Deaths column has now only {fin.Deaths.isnull().sum()} null values, then we do not need to worry too much on these null values for now.")

Deaths column has now only 0 null values, then we do not need to worry too much on these null values for now.

In [163]:
fin["Age range"].unique()

array(['0', '1 - 4', '5 - 9', '10 - 14', '15 - 19', '20 - 24', '25 - 29',
       '30 - 34', '35 - 39', '40 - 44', '45 - 49', '50 - 54', '55 - 59',
       '60 - 64', '65 - 69', '70 - 74', '75 - 79', '80 - 84', '85 - 89',
       '90 - 94', '95 -'], dtype=object)

In [164]:
# modify age range so that matches ones in Germany dataset
fin_age_dict ={
    '0'      : '0 - 4',
    '1 - 4'  : '0 - 4',
    '5 - 9'  : '5 - 9',
    '10 - 14': '10 - 14',
    '15 - 19': '15 - 19',
    '20 - 24': '20 - 24',
    '25 - 29': '25 - 29',
    '30 - 34': '30 - 34', 
    '35 - 39': '35 - 39', 
    '40 - 44': '40 - 44', 
    '45 - 49': '45 - 49', 
    '50 - 54': '50 - 54', 
    '55 - 59': '55 - 59',
    '60 - 64': '60 - 64', 
    '65 - 69': '65 - 69', 
    '70 - 74': '70 - 74', 
    '75 - 79': '75 - 79', 
    '80 - 84': '80 - 84',
    '85 - 89': '85 - over',
    '90 - 94': '85 - over',
    '95 -'   : '85 - over'
}
fin['AgeRange_modified'] = fin['Age range'].map(fin_age_dict)

In [165]:
fin.head(81)

,index,Country,Year,Gender,Age range,Cause,Deaths,AgeRange_modified
0,0,Finland,2008,Total,0,A00-Y89 Total,159,0 - 4
1,1,Finland,2008,Males,0,A00-Y89 Total,94,0 - 4
2,2,Finland,2008,Females,0,A00-Y89 Total,65,0 - 4
3,3,Finland,2009,Total,0,A00-Y89 Total,160,0 - 4
4,4,Finland,2009,Males,0,A00-Y89 Total,78,0 - 4
...,...,...,...,...,...,...,...,...
76,76,Finland,2020,Males,1 - 4,A00-Y89 Total,15,0 - 4
77,77,Finland,2020,Females,1 - 4,A00-Y89 Total,8,0 - 4
78,78,Finland,2008,Total,5 - 9,A00-Y89 Total,33,5 - 9
79,79,Finland,2008,Males,5 - 9,A00-Y89 Total,21,5 - 9
80,80,Finland,2008,Females,5 - 9,A00-Y89 Total,12,5 - 9

In [166]:
fin["AgeRange_modified"].unique()

array(['0 - 4', '5 - 9', '10 - 14', '15 - 19', '20 - 24', '25 - 29',
       '30 - 34', '35 - 39', '40 - 44', '45 - 49', '50 - 54', '55 - 59',
       '60 - 64', '65 - 69', '70 - 74', '75 - 79', '80 - 84', '85 - over'],
      dtype=object)

In [167]:
fin = fin.groupby(["Year", "Gender", "AgeRange_modified"]).sum("Deaths").reset_index()
fin.head()

   Year   Gender AgeRange_modified  index  Deaths
0  2008  Females             0 - 4     43      81
1  2008  Females           10 - 14    119      13
2  2008  Females           15 - 19    158      38
3  2008  Females           20 - 24    197      53
4  2008  Females           25 - 29    236      62

In [168]:
fin = fin.drop(['index'], axis=1)

In [169]:
fin["Country"] = "Finland"
fin.columns = ["Year", "Gender", "Age Range", "Deaths", "Country"]
fin.head()

   Year   Gender Age Range  Deaths  Country
0  2008  Females     0 - 4      81  Finland
1  2008  Females   10 - 14      13  Finland
2  2008  Females   15 - 19      38  Finland
3  2008  Females   20 - 24      53  Finland
4  2008  Females   25 - 29      62  Finland

In [170]:
fin = fin.loc[fin.Gender != "Total"].reset_index()
fin.head()

   index  Year   Gender Age Range  Deaths  Country
0      0  2008  Females     0 - 4      81  Finland
1      1  2008  Females   10 - 14      13  Finland
2      2  2008  Females   15 - 19      38  Finland
3      3  2008  Females   20 - 24      53  Finland
4      4  2008  Females   25 - 29      62  Finland

In [171]:
fin = fin.drop(["index"], axis=1)

In [172]:
fin['Total'] = fin.groupby(["Year", "Age Range"], sort=False)['Deaths'].transform('sum')
fin.head()

   Year   Gender Age Range  Deaths  Country  Total
0  2008  Females     0 - 4      81  Finland    201
1  2008  Females   10 - 14      13  Finland     31
2  2008  Females   15 - 19      38  Finland    138
3  2008  Females   20 - 24      53  Finland    220
4  2008  Females   25 - 29      62  Finland    230

In [173]:
#save to a complete file for futher analysis on death causes in Finland
fin.to_csv("Finland_clean.csv",index=False)

### 3. Clean fin3 dataset

In [174]:
fin3 = pd.read_csv("pop_sex_age.csv")
fin3.head(30)

          Information  Year      Sex      Age  Population 31.12.
0   Population 31 Dec  2008    Males    0 - 4             150804
1   Population 31 Dec  2008    Males    5 - 9             146717
2   Population 31 Dec  2008    Males  10 - 14             157654
3   Population 31 Dec  2008    Males  15 - 19             169961
4   Population 31 Dec  2008    Males  20 - 24             166488
5   Population 31 Dec  2008    Males  25 - 29             174715
6   Population 31 Dec  2008    Males  30 - 34             171532
7   Population 31 Dec  2008    Males  35 - 39             159578
8   Population 31 Dec  2008    Males  40 - 44             186832
9   Population 31 Dec  2008    Males  45 - 49             190839
10  Population 31 Dec  2008    Males  50 - 54             190665
11  Population 31 Dec  2008    Males  55 - 59             196318
12  Population 31 Dec  2008    Males  60 - 64             184247
13  Population 31 Dec  2008    Males  65 - 69             120498
14  Population 31 Dec  2008    Males  70 - 74              97658
15  Population 31 Dec  2008    Males  75 - 79              73731
16  Population 31 Dec  2008    Males  80 - 84              47128
17  Population 31 Dec  2008    Males     85 -              26288
18  Population 31 Dec  2008  Females    0 - 4             144198
19  Population 31 Dec  2008  Females    5 - 9             140101
20  Population 31 Dec  2008  Females  10 - 14             151688
21  Population 31 Dec  2008  Females  15 - 19             163216
22  Population 31 Dec  2008  Females  20 - 24             158952
23  Population 31 Dec  2008  Females  25 - 29             165701
24  Population 31 Dec  2008  Females  30 - 34             162543
25  Population 31 Dec  2008  Females  35 - 39             152352
26  Population 31 Dec  2008  Females  40 - 44             181293
27  Population 31 Dec  2008  Females  45 - 49             187140
28  Population 31 Dec  2008  Females  50 - 54             191006
29  Population 31 Dec  2008  Females  55 - 59             198198

In [175]:
fin3= fin3.drop(['Information'], axis=1)

In [176]:
fin3 = fin3.rename(columns={"Population 31.12.": "Population"})

In [177]:
fin_age_dict ={
    '0 - 4'  : '0 - 4',
    '5 - 9'  : '5 - 9',
    '10 - 14': '10 - 14',
    '15 - 19': '15 - 19',
    '20 - 24': '20 - 24',
    '25 - 29': '25 - 29',
    '30 - 34': '30 - 34', 
    '35 - 39': '35 - 39', 
    '40 - 44': '40 - 44', 
    '45 - 49': '45 - 49', 
    '50 - 54': '50 - 54', 
    '55 - 59': '55 - 59',
    '60 - 64': '60 - 64', 
    '65 - 69': '65 - 69', 
    '70 - 74': '70 - 74', 
    '75 - 79': '75 - 79', 
    '80 - 84': '80 - 85',
    '85 -'   : '85 - over'
}
fin3['AgeRange_modified'] = fin3['Age'].map(fin_age_dict)
fin3.head()

   Year    Sex      Age  Population AgeRange_modified
0  2008  Males    0 - 4      150804             0 - 4
1  2008  Males    5 - 9      146717             5 - 9
2  2008  Males  10 - 14      157654           10 - 14
3  2008  Males  15 - 19      169961           15 - 19
4  2008  Males  20 - 24      166488           20 - 24

In [178]:
fin3 = fin3.drop(['Age'], axis=1)

In [179]:
fin3 = fin3.groupby(["Year", "Sex", "AgeRange_modified"]).sum("Population").reset_index()
fin3.head(40)

    Year      Sex AgeRange_modified  Population
0   2008  Females             0 - 4      144198
1   2008  Females           10 - 14      151688
2   2008  Females           15 - 19      163216
3   2008  Females           20 - 24      158952
4   2008  Females           25 - 29      165701
5   2008  Females           30 - 34      162543
6   2008  Females           35 - 39      152352
7   2008  Females           40 - 44      181293
8   2008  Females           45 - 49      187140
9   2008  Females             5 - 9      140101
10  2008  Females           50 - 54      191006
11  2008  Females           55 - 59      198198
12  2008  Females           60 - 64      191508
13  2008  Females           65 - 69      134775
14  2008  Females           70 - 74      119916
15  2008  Females           75 - 79      107138
16  2008  Females           80 - 85       87427
17  2008  Females         85 - over       77509
18  2008    Males             0 - 4      150804
19  2008    Males           10 - 14      157654
20  2008    Males           15 - 19      169961
21  2008    Males           20 - 24      166488
22  2008    Males           25 - 29      174715
23  2008    Males           30 - 34      171532
24  2008    Males           35 - 39      159578
25  2008    Males           40 - 44      186832
26  2008    Males           45 - 49      190839
27  2008    Males             5 - 9      146717
28  2008    Males           50 - 54      190665
29  2008    Males           55 - 59      196318
30  2008    Males           60 - 64      184247
31  2008    Males           65 - 69      120498
32  2008    Males           70 - 74       97658
33  2008    Males           75 - 79       73731
34  2008    Males           80 - 85       47128
35  2008    Males         85 - over       26288
36  2009  Females             0 - 4      145917
37  2009  Females           10 - 14      148167
38  2009  Females           15 - 19      164053
39  2009  Females           20 - 24      158484

In [180]:
fin3.columns = ["Year_1", "Sex", "Age", "population_by_gender_year_age"]
fin3.head()

   Year_1      Sex      Age  population_by_gender_year_age
0    2008  Females    0 - 4                         144198
1    2008  Females  10 - 14                         151688
2    2008  Females  15 - 19                         163216
3    2008  Females  20 - 24                         158952
4    2008  Females  25 - 29                         165701

In [181]:
fin3.to_csv("Finland_pop_by_gender_year.csv",index=False)

### 4. Merge fin3 and fin dataset

In [182]:
result = pd.concat([fin, fin3], axis=1)
result.tail()

,Year,Gender,Age Range,Deaths,Country,Total,Year_1,Sex,Age,population_by_gender_year_age
463,2020,Males,65 - 69,2602,Finland,4089,2020,Males,65 - 69,169845
464,2020,Males,70 - 74,4024,Finland,6482,2020,Males,70 - 74,165833
465,2020,Males,75 - 79,3702,Finland,6401,2020,Males,75 - 79,103742
466,2020,Males,80 - 84,4606,Finland,8844,2020,Males,80 - 85,65005
467,2020,Males,85 - over,7697,Finland,21933,2020,Males,85 - over,49799

In [183]:
result = result.drop(["Sex", "Age", "Year_1"], axis=1)

In [184]:
result.columns = ["Year", "Gender", "Age Range", "deaths_by_year_gender_age", "Country", "deaths_by_year_age", "population_by_gender_year_age"]
result.head()

,Year,Gender,Age Range,deaths_by_year_gender_age,Country,deaths_by_year_age,population_by_gender_year_age
0,2008,Females,0 - 4,81,Finland,201,144198
1,2008,Females,10 - 14,13,Finland,31,151688
2,2008,Females,15 - 19,38,Finland,138,163216
3,2008,Females,20 - 24,53,Finland,220,158952
4,2008,Females,25 - 29,62,Finland,230,165701

In [185]:
result = result[["Year", "Country", "Age Range", "Gender", "deaths_by_year_gender_age", "deaths_by_year_age", "population_by_gender_year_age"]]
result.head()

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age
0,2008,Finland,0 - 4,Females,81,201,144198
1,2008,Finland,10 - 14,Females,13,31,151688
2,2008,Finland,15 - 19,Females,38,138,163216
3,2008,Finland,20 - 24,Females,53,220,158952
4,2008,Finland,25 - 29,Females,62,230,165701

In [186]:
result.to_csv("Fin_clean_for_ASMR.csv",index=False)

### 5. Clean Ger dataset

In [109]:
ger = pd.read_csv("Germany_raw.csv", on_bad_lines='skip',sep=None)
ger.info()
ger.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  306 non-null    object
 1   Year    306 non-null    object
 2   2008    306 non-null    float64
 3   2009    306 non-null    float64
 4   2010    306 non-null    float64
 5   2011    306 non-null    float64
 6   2012    306 non-null    float64
 7   2013    306 non-null    float64
 8   2014    306 non-null    float64
 9   2015    306 non-null    float64
 10  2016    306 non-null    float64
 11  2017    306 non-null    float64
 12  2018    306 non-null    float64
 13  2019    306 non-null    float64
 14  2020    306 non-null    float64
dtypes: float64(13), object(2)
memory usage: 36.9+ KB

C:\Users\Big City Girl\AppData\Local\Temp\ipykernel_9496\874801166.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  ger = pd.read_csv("Germany_raw.csv", on_bad_lines='skip',sep=None)

,Gender,Year,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Male,under 1 year,1381.0,1339.0,1294.0,1347.0,1207.0,1268.0,1266.0,1297.0,1494.0,1418.0,1399.0,1387.0,1283.0
1,Male,1 year,105.0,136.0,102.0,105.0,99.0,106.0,80.0,108.0,114.0,109.0,107.0,110.0,78.0
2,Male,2 years,87.0,65.0,68.0,66.0,52.0,58.0,37.0,65.0,68.0,58.0,57.0,65.0,41.0
3,Male,3 years,51.0,52.0,47.0,48.0,39.0,47.0,58.0,44.0,37.0,37.0,51.0,53.0,40.0
4,Male,4 years,41.0,60.0,44.0,37.0,51.0,34.0,39.0,42.0,44.0,31.0,45.0,45.0,46.0

In [110]:
ger = pd.melt(ger, id_vars=['Gender', 'Year'], value_vars=['2008', '2009', '2010', '2011', '2012', '2013', '2014','2015', '2016','2017', '2018', '2019', '2020'])

In [111]:
ger.isnull().sum()

Gender      104
Year        104
variable      0
value       104
dtype: int64

In [112]:
ger = ger.dropna()

In [113]:
ger.isnull().sum()

Gender      0
Year        0
variable    0
value       0
dtype: int64

In [114]:
# modify age range so that matches ones in Germany dataset
ger_age_dict = {
    'under 1 year': '0 - 4',
    '1 year': '0 - 4',
    '2 years': '0 - 4',
    '3 years': '0 - 4',
    '4 years': '0 - 4',
    '5 years': '5 - 9',
    '6 years': '5 - 9',
    '7 years': '5 - 9',
    '8 years': '5 - 9',
    '9 years': '5 - 9',
    '10 years': '10 - 14',
    '11 years': '10 - 14',
    '12 years': '10 - 14',
    '13 years': '10 - 14',
    '14 years': '10 - 14',
    '15 years': '15 - 19',
    '16 years': '15 - 19',
    '17 years': '15 - 19',
    '18 years': '15 - 19',
    '19 years': '15 - 19',
    '20 years': '20 - 24',
    '21 years': '20 - 24',
    '22 years': '20 - 24',
    '23 years': '20 - 24',
    '24 years': '20 - 24',
    '25 years': '25 - 29',
    '26 years': '25 - 29',
    '27 years': '25 - 29',
    '28 years': '25 - 29',
    '29 years': '25 - 29',
    '30 years': '30 - 34',
    '31 years': '30 - 34',
    '32 years': '30 - 34',
    '33 years': '30 - 34',
    '34 years': '30 - 34',
    '35 years': '35 - 39',
    '36 years': '35 - 39',
    '37 years': '35 - 39',
    '38 years': '35 - 39',
    '39 years': '35 - 39',
    '40 years': '40 - 44',
    '41 years': '40 - 44',
    '42 years': '40 - 44',
    '43 years': '40 - 44',
    '44 years': '40 - 44',
    '45 years': '45 - 49',
    '46 years': '45 - 49',
    '47 years': '45 - 49',
    '48 years': '45 - 49',
    '49 years': '45 - 49',
    '50 years': '50 - 54',
    '51 years': '50 - 54',
    '52 years': '50 - 54',
    '53 years': '50 - 54',
    '54 years': '50 - 54',
    '55 years': '55 - 59',
    '56 years': '55 - 59',
    '57 years': '55 - 59',
    '58 years': '55 - 59',
    '59 years': '55 - 59',
    '60 years': '60 - 64',
    '61 years': '60 - 64',
    '62 years': '60 - 64',
    '63 years': '60 - 64',
    '64 years': '60 - 64',
    '65 years': '65 - 69',
    '66 years': '65 - 69',
    '67 years': '65 - 69',
    '68 years': '65 - 69',
    '69 years': '65 - 69',
    '70 years': '70 - 74',
    '71 years': '70 - 74',
    '72 years': '70 - 74',
    '73 years': '70 - 74',
    '74 years': '70 - 74',
    '75 years': '75 - 79',
    '76 years': '75 - 79',
    '77 years': '75 - 79',
    '78 years': '75 - 79',
    '79 years': '75 - 79',
    '80 years': '80 - 84',
    '81 years': '80 - 84',
    '82 years': '80 - 84',
    '83 years': '80 - 84',
    '84 years': '80 - 84',
    '85 years': '85 - over',
    '86 years': '85 - over',
    '87 years': '85 - over',
    '88 years': '85 - over',
    '89 years': '85 - over',
    '90 years': '85 - over',
    '91 years': '85 - over',
    '92 years': '85 - over',
    '93 years': '85 - over',
    '94 years': '85 - over',
    '95 years': '85 - over',
    '96 years': '85 - over',
    '97 years': '85 - over',
    '98 years': '85 - over',
    '99 years': '85 - over',
    '100 years and over': '85 - over',
    'Total': 'total'
}
ger['Age Range'] = ger['Year'].map(ger_age_dict)
ger.head(10)

  Gender          Year variable   value Age Range
0   Male  under 1 year     2008  1381.0     0 - 4
1   Male        1 year     2008   105.0     0 - 4
2   Male       2 years     2008    87.0     0 - 4
3   Male       3 years     2008    51.0     0 - 4
4   Male       4 years     2008    41.0     0 - 4
5   Male       5 years     2008    37.0     5 - 9
6   Male       6 years     2008    38.0     5 - 9
7   Male       7 years     2008    34.0     5 - 9
8   Male       8 years     2008    36.0     5 - 9
9   Male       9 years     2008    41.0     5 - 9

In [116]:
ger = ger.drop('Year', axis=1)

KeyError: "['Year'] not found in axis"

In [117]:
ger = ger.groupby(["variable", "Gender", "Age Range"]).sum("value").reset_index()
ger.head(40)

   variable  Gender  Age Range     value
0      2008  Female      0 - 4    1285.0
1      2008  Female    10 - 14     181.0
2      2008  Female    15 - 19     388.0
3      2008  Female    20 - 24     520.0
4      2008  Female    25 - 29     642.0
5      2008  Female    30 - 34     746.0
6      2008  Female    35 - 39    1577.0
7      2008  Female    40 - 44    3260.0
8      2008  Female    45 - 49    5783.0
9      2008  Female      5 - 9     138.0
10     2008  Female    50 - 54    8035.0
11     2008  Female    55 - 59   11178.0
12     2008  Female    60 - 64   13800.0
13     2008  Female    65 - 69   25206.0
14     2008  Female    70 - 74   36543.0
15     2008  Female    75 - 79   52494.0
16     2008  Female    80 - 84   85837.0
17     2008  Female  85 - over  199175.0
18     2008  Female      total  446788.0
19     2008    Male      0 - 4    1665.0
20     2008    Male    10 - 14     229.0
21     2008    Male    15 - 19     937.0
22     2008    Male    20 - 24    1405.0
23     2008    Male    25 - 29    1539.0
24     2008    Male    30 - 34    1780.0
25     2008    Male    35 - 39    3000.0
26     2008    Male    40 - 44    6216.0
27     2008    Male    45 - 49   10728.0
28     2008    Male      5 - 9     186.0
29     2008    Male    50 - 54   15509.0
30     2008    Male    55 - 59   21402.0
31     2008    Male    60 - 64   25967.0
32     2008    Male    65 - 69   46301.0
33     2008    Male    70 - 74   58489.0
34     2008    Male    75 - 79   65199.0
35     2008    Male    80 - 84   63797.0
36     2008    Male  85 - over   73301.0
37     2008    Male      total  397650.0
38     2008   Total      0 - 4    2950.0
39     2008   Total    10 - 14     410.0

In [119]:
ger = ger.loc[ger['Age Range'] != "total"].reset_index()
ger.head()

   index variable  Gender Age Range   value
0      0     2008  Female     0 - 4  1285.0
1      1     2008  Female   10 - 14   181.0
2      2     2008  Female   15 - 19   388.0
3      3     2008  Female   20 - 24   520.0
4      4     2008  Female   25 - 29   642.0

In [120]:
ger = ger.drop('index', axis=1)

In [121]:
ger["Country"] = "Germany"
ger.head()

  variable  Gender Age Range   value  Country
0     2008  Female     0 - 4  1285.0  Germany
1     2008  Female   10 - 14   181.0  Germany
2     2008  Female   15 - 19   388.0  Germany
3     2008  Female   20 - 24   520.0  Germany
4     2008  Female   25 - 29   642.0  Germany

In [122]:
ger.columns = ["Year", "Gender", "Age Range", "Deaths", "Country"]

In [123]:
ger['Total'] = ger.groupby(["Year", "Age Range"], sort=False)['Deaths'].transform('sum')
ger.head()

   Year  Gender Age Range  Deaths  Country   Total
0  2008  Female     0 - 4  1285.0  Germany  5900.0
1  2008  Female   10 - 14   181.0  Germany   820.0
2  2008  Female   15 - 19   388.0  Germany  2650.0
3  2008  Female   20 - 24   520.0  Germany  3850.0
4  2008  Female   25 - 29   642.0  Germany  4362.0

In [125]:
ger = ger[["Year", "Gender", "Age Range", "Deaths", "Country", "Total"]]
ger.head(20)

    Year  Gender  Age Range    Deaths  Country     Total
0   2008  Female      0 - 4    1285.0  Germany    5900.0
1   2008  Female    10 - 14     181.0  Germany     820.0
2   2008  Female    15 - 19     388.0  Germany    2650.0
3   2008  Female    20 - 24     520.0  Germany    3850.0
4   2008  Female    25 - 29     642.0  Germany    4362.0
5   2008  Female    30 - 34     746.0  Germany    5052.0
6   2008  Female    35 - 39    1577.0  Germany    9154.0
7   2008  Female    40 - 44    3260.0  Germany   18952.0
8   2008  Female    45 - 49    5783.0  Germany   33022.0
9   2008  Female      5 - 9     138.0  Germany     648.0
10  2008  Female    50 - 54    8035.0  Germany   47088.0
11  2008  Female    55 - 59   11178.0  Germany   65160.0
12  2008  Female    60 - 64   13800.0  Germany   79534.0
13  2008  Female    65 - 69   25206.0  Germany  143014.0
14  2008  Female    70 - 74   36543.0  Germany  190064.0
15  2008  Female    75 - 79   52494.0  Germany  235386.0
16  2008  Female    80 - 84   85837.0  Germany  299268.0
17  2008  Female  85 - over  199175.0  Germany  544952.0
18  2008    Male      0 - 4    1665.0  Germany    5900.0
19  2008    Male    10 - 14     229.0  Germany     820.0

In [126]:
#save to a complete file for futher analysis on death causes in Finland
ger.to_csv("Germany_clean.csv",index=False)

### 6. Clean Ger_2_raw dataset

In [127]:
ger2 = pd.read_csv("Ger_2_raw.csv")
ger2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1131 non-null   object
 1   Male         1131 non-null   float64
 2   Female       1131 non-null   float64
 3   Total        1131 non-null   float64
 4   Year         1131 non-null   float64
 5   Country      1131 non-null   object
 6   Unnamed: 6   0 non-null      float64
 7   Unnamed: 7   0 non-null      float64
 8   Unnamed: 8   0 non-null      float64
 9   Unnamed: 9   0 non-null      float64
 10  Unnamed: 10  0 non-null      float64
dtypes: float64(9), object(2)
memory usage: 97.8+ KB

In [128]:
ger2= ger2.drop(["Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9", "Unnamed: 10"], axis=1)

In [129]:
ger2.head()

            Age      Male    Female     Total    Year Country
0  under 1 year  351137.0  333241.0  684378.0  2008.0     Ger
1        1 year  350400.0  331728.0  682128.0  2008.0     Ger
2       2 years  350611.0  332338.0  682949.0  2008.0     Ger
3       3 years  358384.0  340306.0  698690.0  2008.0     Ger
4       4 years  363590.0  345252.0  708842.0  2008.0     Ger

In [130]:
ger2["Age"].unique()

array(['under 1 year', '1 year', '2 years', '3 years', '4 years',
       '5 years', '6 years', '7 years', '8 years', '9 years', '10 years',
       '11 years', '12 years', '13 years', '14 years', '15 years',
       '16 years', '17 years', '18 years', '19 years', '20 years',
       '21 years', '22 years', '23 years', '24 years', '25 years',
       '26 years', '27 years', '28 years', '29 years', '30 years',
       '31 years', '32 years', '33 years', '34 years', '35 years',
       '36 years', '37 years', '38 years', '39 years', '40 years',
       '41 years', '42 years', '43 years', '44 years', '45 years',
       '46 years', '47 years', '48 years', '49 years', '50 years',
       '51 years', '52 years', '53 years', '54 years', '55 years',
       '56 years', '57 years', '58 years', '59 years', '60 years',
       '61 years', '62 years', '63 years', '64 years', '65 years',
       '66 years', '67 years', '68 years', '69 years', '70 years',
       '71 years', '72 years', '73 years', '74 years', '75 years',
       '76 years', '77 years', '78 years', '79 years', '80 years',
       '81 years', '82 years', '83 years', '84 years',
       '85 years and over', 'Total', nan], dtype=object)

In [131]:
# modify age range 
ger2_age_dict ={
    'under 1 year': '0 - 4',
    '1 year': '0 - 4',
    '2 years': '0 - 4',
    '3 years': '0 - 4',
    '4 years': '0 - 4',
    '5 years': '5 - 9',
    '6 years': '5 - 9',
    '7 years': '5 - 9',
    '8 years': '5 - 9',
    '9 years': '5 - 9',
    '10 years': '10 - 14',
    '11 years': '10 - 14',
    '12 years': '10 - 14',
    '13 years': '10 - 14',
    '14 years': '10 - 14',
    '15 years'  : '15 - 19',
    '16 years'   : '15 - 19',
    '17 years'  : '15 - 19',
    '18 years'  : '15 - 19',
    '19 years'  : '15 - 19',
    '20 years'  : '20 - 24',
    '21 years'  : '20 - 24',
    '22 years'  : '20 - 24',
    '23 years'  : '20 - 24',
    '24 years'  : '20 - 24',
    '25 years'  : '25 - 29',
    '26 years'  : '25 - 29',
    '27 years'  : '25 - 29',
    '28 years'  : '25 - 29',
    '29 years'  : '25 - 29',
    '30 years': '30 - 34',
    '31 years': '30 - 34',
    '32 years': '30 - 34',
    '33 years': '30 - 34',
    '34 years': '30 - 34', 
    '35 years': '35 - 39', 
    '36 years': '35 - 39', 
    '37 years': '35 - 39', 
    '38 years': '35 - 39', 
    '39 years': '35 - 39', 
    '40 years': '40 - 44', 
    '41 years': '40 - 44',
    '42 years': '40 - 44',
    '43 years': '40 - 44',
    '44 years': '40 - 44',
    '45 years': '45 - 49', 
    '46 years': '45 - 49', 
    '47 years': '45 - 49', 
    '48 years': '45 - 49', 
    '49 years': '45 - 49', 
    '50 years': '50 - 54', 
    '51 years': '50 - 54', 
    '52 years': '50 - 54', 
    '53 years': '50 - 54', 
    '54 years': '50 - 54', 
    '55 years': '55 - 59',
    '56 years': '55 - 59',
    '57 years': '55 - 59',
    '58 years': '55 - 59',
    '59 years': '55 - 59',
    '60 years': '60 - 64', 
    '61 years': '60 - 64', 
    '62 years': '60 - 64', 
    '63 years': '60 - 64', 
    '64 years': '60 - 64', 
    '65 years': '65 - 69', 
    '66 years': '65 - 69', 
    '67 years': '65 - 69', 
    '68 years': '65 - 69', 
    '69 years': '65 - 69', 
    '70 years': '70 - 74', 
    '71 years': '70 - 74', 
    '72 years': '70 - 74', 
    '73 years': '70 - 74', 
    '74 years': '70 - 74', 
    '75 years': '75 - 79', 
    '76 years': '75 - 79', 
    '77 years': '75 - 79', 
    '78 years': '75 - 79', 
    '79 years': '75 - 79', 
    '80 years': '80 - 84',
    '81 years': '80 - 84',
    '82 years': '80 - 84',
    '83 years': '80 - 84',
    '84 years': '80 - 84',
    '85 years and over': '85 - over',
    'Total': "Total"
}
ger2['AgeRange_modified'] = ger2['Age'].map(ger2_age_dict)
ger2.tail(50)

,Age,Male,Female,Total,Year,Country,AgeRange_modified
1086,42 years,499939.0,493171.0,993110.0,2020.0,Ger,40 - 44
1087,43 years,491952.0,486657.0,978609.0,2020.0,Ger,40 - 44
1088,44 years,480675.0,475754.0,956429.0,2020.0,Ger,40 - 44
1089,45 years,476741.0,472515.0,949255.0,2020.0,Ger,45 - 49
1090,46 years,479804.0,478008.0,957811.0,2020.0,Ger,45 - 49
1091,47 years,501260.0,498488.0,999748.0,2020.0,Ger,45 - 49
1092,48 years,547189.0,541714.0,1088903.0,2020.0,Ger,45 - 49
1093,49 years,582617.0,576276.0,1158893.0,2020.0,Ger,45 - 49
1094,50 years,614755.0,606141.0,1220895.0,2020.0,Ger,50 - 54
1095,51 years,651105.0,640184.0,1291289.0,2020.0,Ger,50 - 54
1096,52 years,672807.0,662604.0,1335411.0,2020.0,Ger,50 - 54
1097,53 years,688489.0,678759.0,1367247.0,2020.0,Ger,50 - 54
1098,54 years,697296.0,686592.0,1383888.0,2020.0,Ger,50 - 54
1099,55 years,702367.0,692728.0,1395095.0,2020.0,Ger,55 - 59
1100,56 years,702223.0,695535.0,1397757.0,2020.0,Ger,55 - 59
1101,57 years,683736.0,681262.0,1364998.0,2020.0,Ger,55 - 59
1102,58 years,662371.0,665877.0,1328248.0,2020.0,Ger,55 - 59
1103,59 years,641561.0,649654.0,1291215.0,2020.0,Ger,55 - 59
1104,60 years,617786.0,628237.0,1246022.0,2020.0,Ger,60 - 64
1105,61 years,588018.0,600556.0,1188573.0,2020.0,Ger,60 - 64
1106,62 years,559895.0,575818.0,1135713.0,2020.0,Ger,60 - 64
1107,63 years,540006.0,560694.0,1100700.0,2020.0,Ger,60 - 64
1108,64 years,517304.0,544644.0,1061947.0,2020.0,Ger,60 - 64
1109,65 years,495831.0,532347.0,1028178.0,2020.0,Ger,65 - 69
1110,66 years,475038.0,519282.0,994319.0,2020.0,Ger,65 - 69
1111,67 years,460781.0,509294.0,970075.0,2020.0,Ger,65 - 69
1112,68 years,450637.0,501566.0,952203.0,2020.0,Ger,65 - 69
1113,69 years,440871.0,493423.0,934294.0,2020.0,Ger,65 - 69
1114,70 years,428684.0,481252.0,909935.0,2020.0,Ger,70 - 74
1115,71 years,398562.0,447793.0,846355.0,2020.0,Ger,70 - 74
1116,72 years,363057.0,411701.0,774758.0,2020.0,Ger,70 - 74
1117,73 years,321985.0,370954.0,692939.0,2020.0,Ger,70 - 74
1118,74 years,274110.0,322987.0,597097.0,2020.0,Ger,70 - 74
1119,75 years,292841.0,350799.0,643640.0,2020.0,Ger,75 - 79
1120,76 years,330639.0,399047.0,729686.0,2020.0,Ger,75 - 79
1121,77 years,319752.0,390920.0,710672.0,2020.0,Ger,75 - 79
1122,78 years,336632.0,421743.0,758374.0,2020.0,Ger,75 - 79
1123,79 years,362167.0,467686.0,829853.0,2020.0,Ger,75 - 79
1124,80 years,350651.0,465752.0,816403.0,2020.0,Ger,80 - 84
1125,81 years,317675.0,433057.0,750732.0,2020.0,Ger,80 - 84
1126,82 years,277092.0,388492.0,665583.0,2020.0,Ger,80 - 84
1127,83 years,242763.0,352138.0,594901.0,2020.0,Ger,80 - 84
1128,84 years,213124.0,321650.0,534774.0,2020.0,Ger,80 - 84
1129,85 years and over,822231.0,1624163.0,2446393.0,2020.0,Ger,85 - over
1130,Total,41032066.0,42128805.0,83160871.0,2020.0,Ger,Total
1131,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1133,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1135,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
ger2 = ger2.loc[ger2.Age != "Total"].reset_index()

In [133]:
ger2=ger2.drop(["index"], axis=1)

In [134]:
ger2 = ger2.dropna()

In [135]:
ger2.tail(20)

,Age,Male,Female,Total,Year,Country,AgeRange_modified
1098,66 years,475038.0,519282.0,994319.0,2020.0,Ger,65 - 69
1099,67 years,460781.0,509294.0,970075.0,2020.0,Ger,65 - 69
1100,68 years,450637.0,501566.0,952203.0,2020.0,Ger,65 - 69
1101,69 years,440871.0,493423.0,934294.0,2020.0,Ger,65 - 69
1102,70 years,428684.0,481252.0,909935.0,2020.0,Ger,70 - 74
1103,71 years,398562.0,447793.0,846355.0,2020.0,Ger,70 - 74
1104,72 years,363057.0,411701.0,774758.0,2020.0,Ger,70 - 74
1105,73 years,321985.0,370954.0,692939.0,2020.0,Ger,70 - 74
1106,74 years,274110.0,322987.0,597097.0,2020.0,Ger,70 - 74
1107,75 years,292841.0,350799.0,643640.0,2020.0,Ger,75 - 79
1108,76 years,330639.0,399047.0,729686.0,2020.0,Ger,75 - 79
1109,77 years,319752.0,390920.0,710672.0,2020.0,Ger,75 - 79
1110,78 years,336632.0,421743.0,758374.0,2020.0,Ger,75 - 79
1111,79 years,362167.0,467686.0,829853.0,2020.0,Ger,75 - 79
1112,80 years,350651.0,465752.0,816403.0,2020.0,Ger,80 - 84
1113,81 years,317675.0,433057.0,750732.0,2020.0,Ger,80 - 84
1114,82 years,277092.0,388492.0,665583.0,2020.0,Ger,80 - 84
1115,83 years,242763.0,352138.0,594901.0,2020.0,Ger,80 - 84
1116,84 years,213124.0,321650.0,534774.0,2020.0,Ger,80 - 84
1117,85 years and over,822231.0,1624163.0,2446393.0,2020.0,Ger,85 - over

In [136]:
ger2_modified=ger2.melt(id_vars=["Age", "Year", "Country", "AgeRange_modified"], 
        var_name="gen", 
        value_name="pop_by_gender_age_year")
ger2_modified.tail(50)

,Age,Year,Country,AgeRange_modified,gen,pop_by_gender_age_year
3304,36 years,2020.0,Ger,35 - 39,Total,1049492.0
3305,37 years,2020.0,Ger,35 - 39,Total,1059922.0
3306,38 years,2020.0,Ger,35 - 39,Total,1065149.0
3307,39 years,2020.0,Ger,35 - 39,Total,1062390.0
3308,40 years,2020.0,Ger,40 - 44,Total,1038503.0
3309,41 years,2020.0,Ger,40 - 44,Total,1005308.0
3310,42 years,2020.0,Ger,40 - 44,Total,993110.0
3311,43 years,2020.0,Ger,40 - 44,Total,978609.0
3312,44 years,2020.0,Ger,40 - 44,Total,956429.0
3313,45 years,2020.0,Ger,45 - 49,Total,949255.0
3314,46 years,2020.0,Ger,45 - 49,Total,957811.0
3315,47 years,2020.0,Ger,45 - 49,Total,999748.0
3316,48 years,2020.0,Ger,45 - 49,Total,1088903.0
3317,49 years,2020.0,Ger,45 - 49,Total,1158893.0
3318,50 years,2020.0,Ger,50 - 54,Total,1220895.0
3319,51 years,2020.0,Ger,50 - 54,Total,1291289.0
3320,52 years,2020.0,Ger,50 - 54,Total,1335411.0
3321,53 years,2020.0,Ger,50 - 54,Total,1367247.0
3322,54 years,2020.0,Ger,50 - 54,Total,1383888.0
3323,55 years,2020.0,Ger,55 - 59,Total,1395095.0
3324,56 years,2020.0,Ger,55 - 59,Total,1397757.0
3325,57 years,2020.0,Ger,55 - 59,Total,1364998.0
3326,58 years,2020.0,Ger,55 - 59,Total,1328248.0
3327,59 years,2020.0,Ger,55 - 59,Total,1291215.0
3328,60 years,2020.0,Ger,60 - 64,Total,1246022.0
3329,61 years,2020.0,Ger,60 - 64,Total,1188573.0
3330,62 years,2020.0,Ger,60 - 64,Total,1135713.0
3331,63 years,2020.0,Ger,60 - 64,Total,1100700.0
3332,64 years,2020.0,Ger,60 - 64,Total,1061947.0
3333,65 years,2020.0,Ger,65 - 69,Total,1028178.0
3334,66 years,2020.0,Ger,65 - 69,Total,994319.0
3335,67 years,2020.0,Ger,65 - 69,Total,970075.0
3336,68 years,2020.0,Ger,65 - 69,Total,952203.0
3337,69 years,2020.0,Ger,65 - 69,Total,934294.0
3338,70 years,2020.0,Ger,70 - 74,Total,909935.0
3339,71 years,2020.0,Ger,70 - 74,Total,846355.0
3340,72 years,2020.0,Ger,70 - 74,Total,774758.0
3341,73 years,2020.0,Ger,70 - 74,Total,692939.0
3342,74 years,2020.0,Ger,70 - 74,Total,597097.0
3343,75 years,2020.0,Ger,75 - 79,Total,643640.0
3344,76 years,2020.0,Ger,75 - 79,Total,729686.0
3345,77 years,2020.0,Ger,75 - 79,Total,710672.0
3346,78 years,2020.0,Ger,75 - 79,Total,758374.0
3347,79 years,2020.0,Ger,75 - 79,Total,829853.0
3348,80 years,2020.0,Ger,80 - 84,Total,816403.0
3349,81 years,2020.0,Ger,80 - 84,Total,750732.0
3350,82 years,2020.0,Ger,80 - 84,Total,665583.0
3351,83 years,2020.0,Ger,80 - 84,Total,594901.0
3352,84 years,2020.0,Ger,80 - 84,Total,534774.0
3353,85 years and over,2020.0,Ger,85 - over,Total,2446393.0

In [137]:
ger2_modified= ger2_modified.loc[ger2_modified.gen != "Total"].reset_index()

In [138]:
ger2_modified.tail(20)

,index,Age,Year,Country,AgeRange_modified,gen,pop_by_gender_age_year
2216,2216,66 years,2020.0,Ger,65 - 69,Female,519282.0
2217,2217,67 years,2020.0,Ger,65 - 69,Female,509294.0
2218,2218,68 years,2020.0,Ger,65 - 69,Female,501566.0
2219,2219,69 years,2020.0,Ger,65 - 69,Female,493423.0
2220,2220,70 years,2020.0,Ger,70 - 74,Female,481252.0
2221,2221,71 years,2020.0,Ger,70 - 74,Female,447793.0
2222,2222,72 years,2020.0,Ger,70 - 74,Female,411701.0
2223,2223,73 years,2020.0,Ger,70 - 74,Female,370954.0
2224,2224,74 years,2020.0,Ger,70 - 74,Female,322987.0
2225,2225,75 years,2020.0,Ger,75 - 79,Female,350799.0
2226,2226,76 years,2020.0,Ger,75 - 79,Female,399047.0
2227,2227,77 years,2020.0,Ger,75 - 79,Female,390920.0
2228,2228,78 years,2020.0,Ger,75 - 79,Female,421743.0
2229,2229,79 years,2020.0,Ger,75 - 79,Female,467686.0
2230,2230,80 years,2020.0,Ger,80 - 84,Female,465752.0
2231,2231,81 years,2020.0,Ger,80 - 84,Female,433057.0
2232,2232,82 years,2020.0,Ger,80 - 84,Female,388492.0
2233,2233,83 years,2020.0,Ger,80 - 84,Female,352138.0
2234,2234,84 years,2020.0,Ger,80 - 84,Female,321650.0
2235,2235,85 years and over,2020.0,Ger,85 - over,Female,1624163.0

In [139]:
ger2_modified=ger2_modified.drop(["index", "Age"], axis=1)

In [140]:
ger2_modified.head(20)

      Year Country AgeRange_modified   gen  pop_by_gender_age_year
0   2008.0     Ger             0 - 4  Male                351137.0
1   2008.0     Ger             0 - 4  Male                350400.0
2   2008.0     Ger             0 - 4  Male                350611.0
3   2008.0     Ger             0 - 4  Male                358384.0
4   2008.0     Ger             0 - 4  Male                363590.0
5   2008.0     Ger             5 - 9  Male                367366.0
6   2008.0     Ger             5 - 9  Male                374781.0
7   2008.0     Ger             5 - 9  Male                386870.0
8   2008.0     Ger             5 - 9  Male                396585.0
9   2008.0     Ger             5 - 9  Male                402202.0
10  2008.0     Ger           10 - 14  Male                412572.0
11  2008.0     Ger           10 - 14  Male                415815.0
12  2008.0     Ger           10 - 14  Male                406012.0
13  2008.0     Ger           10 - 14  Male                402577.0
14  2008.0     Ger           10 - 14  Male                413642.0
15  2008.0     Ger           15 - 19  Male                426975.0
16  2008.0     Ger           15 - 19  Male                441441.0
17  2008.0     Ger           15 - 19  Male                473445.0
18  2008.0     Ger           15 - 19  Male                494443.0
19  2008.0     Ger           15 - 19  Male                501855.0

In [141]:
ger2_modified = ger2_modified.groupby(["Year", "gen", "AgeRange_modified"]).sum("pop_by_gender_age_year").reset_index()
ger2_modified.tail(20)

       Year     gen AgeRange_modified  pop_by_gender_age_year
448  2020.0  Female           80 - 84               1961089.0
449  2020.0  Female         85 - over               1624163.0
450  2020.0    Male             0 - 4               2033898.0
451  2020.0    Male           10 - 14               1910631.0
452  2020.0    Male           15 - 19               2015167.0
453  2020.0    Male           20 - 24               2405361.0
454  2020.0    Male           25 - 29               2594396.0
455  2020.0    Male           30 - 34               2853603.0
456  2020.0    Male           35 - 39               2685998.0
457  2020.0    Male           40 - 44               2501073.0
458  2020.0    Male           45 - 49               2587611.0
459  2020.0    Male             5 - 9               1929508.0
460  2020.0    Male           50 - 54               3324452.0
461  2020.0    Male           55 - 59               3392258.0
462  2020.0    Male           60 - 64               2823009.0
463  2020.0    Male           65 - 69               2323158.0
464  2020.0    Male           70 - 74               1786398.0
465  2020.0    Male           75 - 79               1642031.0
466  2020.0    Male           80 - 84               1401305.0
467  2020.0    Male         85 - over                822231.0

In [142]:
ger2_modified=ger2_modified.astype({'Year': 'int64', "pop_by_gender_age_year": "int64"})

In [143]:
ger2_modified.head(20)

    Year     gen AgeRange_modified  pop_by_gender_age_year
0   2008  Female             0 - 4                 1682865
1   2008  Female           10 - 14                 1944911
2   2008  Female           15 - 19                 2224055
3   2008  Female           20 - 24                 2395355
4   2008  Female           25 - 29                 2459976
5   2008  Female           30 - 34                 2320419
6   2008  Female           35 - 39                 2856585
7   2008  Female           40 - 44                 3469624
8   2008  Female           45 - 49                 3341439
9   2008  Female             5 - 9                 1831197
10  2008  Female           50 - 54                 2907154
11  2008  Female           55 - 59                 2683665
12  2008  Female           60 - 64                 2155823
13  2008  Female           65 - 69                 2723037
14  2008  Female           70 - 74                 2363515
15  2008  Female           75 - 79                 1748576
16  2008  Female           80 - 84                 1464250
17  2008  Female         85 - over                 1308735
18  2008    Male             0 - 4                 1774122
19  2008    Male           10 - 14                 2050618

In [144]:
ger2_modified.columns = ["Year_2", "Sex", "Age", "pop_by_gender_year_age"]
ger2_modified.head()

   Year_2     Sex      Age  pop_by_gender_year_age
0    2008  Female    0 - 4                 1682865
1    2008  Female  10 - 14                 1944911
2    2008  Female  15 - 19                 2224055
3    2008  Female  20 - 24                 2395355
4    2008  Female  25 - 29                 2459976

In [145]:
ger2_modified.to_csv("Germany_pop_by_gender_year.csv",index=False)

### 7. Merge ger and ger2_modified dataframes

In [146]:
result_1 = pd.concat([ger, ger2_modified], axis=1)
result_1.head(50)

,Year,Gender,Age Range,Deaths,Country,Total,Year_2,Sex,Age,pop_by_gender_year_age
0,2008,Female,0 - 4,1285.0,Germany,5900.0,2008.0,Female,0 - 4,1682865.0
1,2008,Female,10 - 14,181.0,Germany,820.0,2008.0,Female,10 - 14,1944911.0
2,2008,Female,15 - 19,388.0,Germany,2650.0,2008.0,Female,15 - 19,2224055.0
3,2008,Female,20 - 24,520.0,Germany,3850.0,2008.0,Female,20 - 24,2395355.0
4,2008,Female,25 - 29,642.0,Germany,4362.0,2008.0,Female,25 - 29,2459976.0
5,2008,Female,30 - 34,746.0,Germany,5052.0,2008.0,Female,30 - 34,2320419.0
6,2008,Female,35 - 39,1577.0,Germany,9154.0,2008.0,Female,35 - 39,2856585.0
7,2008,Female,40 - 44,3260.0,Germany,18952.0,2008.0,Female,40 - 44,3469624.0
8,2008,Female,45 - 49,5783.0,Germany,33022.0,2008.0,Female,45 - 49,3341439.0
9,2008,Female,5 - 9,138.0,Germany,648.0,2008.0,Female,5 - 9,1831197.0
10,2008,Female,50 - 54,8035.0,Germany,47088.0,2008.0,Female,50 - 54,2907154.0
11,2008,Female,55 - 59,11178.0,Germany,65160.0,2008.0,Female,55 - 59,2683665.0
12,2008,Female,60 - 64,13800.0,Germany,79534.0,2008.0,Female,60 - 64,2155823.0
13,2008,Female,65 - 69,25206.0,Germany,143014.0,2008.0,Female,65 - 69,2723037.0
14,2008,Female,70 - 74,36543.0,Germany,190064.0,2008.0,Female,70 - 74,2363515.0
15,2008,Female,75 - 79,52494.0,Germany,235386.0,2008.0,Female,75 - 79,1748576.0
16,2008,Female,80 - 84,85837.0,Germany,299268.0,2008.0,Female,80 - 84,1464250.0
17,2008,Female,85 - over,199175.0,Germany,544952.0,2008.0,Female,85 - over,1308735.0
18,2008,Male,0 - 4,1665.0,Germany,5900.0,2008.0,Male,0 - 4,1774122.0
19,2008,Male,10 - 14,229.0,Germany,820.0,2008.0,Male,10 - 14,2050618.0
20,2008,Male,15 - 19,937.0,Germany,2650.0,2008.0,Male,15 - 19,2338159.0
21,2008,Male,20 - 24,1405.0,Germany,3850.0,2008.0,Male,20 - 24,2483105.0
22,2008,Male,25 - 29,1539.0,Germany,4362.0,2008.0,Male,25 - 29,2521911.0
23,2008,Male,30 - 34,1780.0,Germany,5052.0,2008.0,Male,30 - 34,2384591.0
24,2008,Male,35 - 39,3000.0,Germany,9154.0,2008.0,Male,35 - 39,2971934.0
25,2008,Male,40 - 44,6216.0,Germany,18952.0,2008.0,Male,40 - 44,3646234.0
26,2008,Male,45 - 49,10728.0,Germany,33022.0,2008.0,Male,45 - 49,3460032.0
27,2008,Male,5 - 9,186.0,Germany,648.0,2008.0,Male,5 - 9,1927804.0
28,2008,Male,50 - 54,15509.0,Germany,47088.0,2008.0,Male,50 - 54,2942964.0
29,2008,Male,55 - 59,21402.0,Germany,65160.0,2008.0,Male,55 - 59,2638364.0
30,2008,Male,60 - 64,25967.0,Germany,79534.0,2008.0,Male,60 - 64,2084379.0
31,2008,Male,65 - 69,46301.0,Germany,143014.0,2008.0,Male,65 - 69,2511093.0
32,2008,Male,70 - 74,58489.0,Germany,190064.0,2008.0,Male,70 - 74,2006600.0
33,2008,Male,75 - 79,65199.0,Germany,235386.0,2008.0,Male,75 - 79,1276111.0
34,2008,Male,80 - 84,63797.0,Germany,299268.0,2008.0,Male,80 - 84,760843.0
35,2008,Male,85 - over,73301.0,Germany,544952.0,2008.0,Male,85 - over,459731.0
36,2008,Total,0 - 4,2950.0,Germany,5900.0,2009.0,Female,0 - 4,1668119.0
37,2008,Total,10 - 14,410.0,Germany,820.0,2009.0,Female,10 - 14,1933050.0
38,2008,Total,15 - 19,1325.0,Germany,2650.0,2009.0,Female,15 - 19,2142728.0
39,2008,Total,20 - 24,1925.0,Germany,3850.0,2009.0,Female,20 - 24,2409448.0
40,2008,Total,25 - 29,2181.0,Germany,4362.0,2009.0,Female,25 - 29,2456994.0
41,2008,Total,30 - 34,2526.0,Germany,5052.0,2009.0,Female,30 - 34,2327544.0
42,2008,Total,35 - 39,4577.0,Germany,9154.0,2009.0,Female,35 - 39,2668834.0
43,2008,Total,40 - 44,9476.0,Germany,18952.0,2009.0,Female,40 - 44,3396334.0
44,2008,Total,45 - 49,16511.0,Germany,33022.0,2009.0,Female,45 - 49,3415711.0
45,2008,Total,5 - 9,324.0,Germany,648.0,2009.0,Female,5 - 9,1793307.0
46,2008,Total,50 - 54,23544.0,Germany,47088.0,2009.0,Female,50 - 54,2964640.0
47,2008,Total,55 - 59,32580.0,Germany,65160.0,2009.0,Female,55 - 59,2726407.0
48,2008,Total,60 - 64,39767.0,Germany,79534.0,2009.0,Female,60 - 64,2168584.0
49,2008,Total,65 - 69,71507.0,Germany,143014.0,2009.0,Female,65 - 69,2604013.0

In [147]:
result_1 = result_1.drop(["Sex", "Age", "Year_2"], axis=1)

In [148]:
result_1.columns = ["Year", "Gender", "Age Range", "deaths_by_year_gender_age", "Country", "deaths_by_year_age", "population_by_gender_year_age"]
result_1.head()

,Year,Gender,Age Range,deaths_by_year_gender_age,Country,deaths_by_year_age,population_by_gender_year_age
0,2008,Female,0 - 4,1285.0,Germany,5900.0,1682865.0
1,2008,Female,10 - 14,181.0,Germany,820.0,1944911.0
2,2008,Female,15 - 19,388.0,Germany,2650.0,2224055.0
3,2008,Female,20 - 24,520.0,Germany,3850.0,2395355.0
4,2008,Female,25 - 29,642.0,Germany,4362.0,2459976.0

In [149]:
result_1 = result_1[["Year", "Country", "Age Range", "Gender", "deaths_by_year_gender_age", "deaths_by_year_age", "population_by_gender_year_age"]]
result_1.head()

,Year,Country,Age Range,Gender,deaths_by_year_gender_age,deaths_by_year_age,population_by_gender_year_age
0,2008,Germany,0 - 4,Female,1285.0,5900.0,1682865.0
1,2008,Germany,10 - 14,Female,181.0,820.0,1944911.0
2,2008,Germany,15 - 19,Female,388.0,2650.0,2224055.0
3,2008,Germany,20 - 24,Female,520.0,3850.0,2395355.0
4,2008,Germany,25 - 29,Female,642.0,4362.0,2459976.0

In [150]:
result_1.to_csv("Ger_clean_for_ASMR.csv",index=False)